.app {
  height: 100vh;
}

main {
  border: 1px solid black;
  border-radius: 4px;
  width: 100%;
  height: 90%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
}

.board__listDivs {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.list__oneDiv {
  margin: 10px;
  padding: 3px;
  min-width: 20%;
  text-align: center;
}

h2 {
  text-align: center;
}

.card-footer {
  padding: 0.5rem;
}

.card-footer p {
  margin: 0;
}

.item-btn {
  border: 1px dashed black;
  margin: 2px;
}

footer {
  width: 100%;
  height: 10%;
  background-color: rgba(211, 211, 211, 0.077);
}